@model TBD.Controllers.IndexViewModelDave
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dave's Test Site</h1>
    <p class="lead">This is a test site to test deployments </p>

    <p>The version is @Model.Version</p>
    <p>The Environment is @Model.Environment</p>

    <p>New Feature 1</p>
    <p>New Relaese 1 Change</p>
</div>